@import url('https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

:root {
    --primary: #79B058;
    --light-100: #ffffff;
    --dark-25: #c7c7c7;
    --dark-50: #8e8e8e;
    --dark-75: #565656;
    --dark-100: #1e1e1e;

    --primary-hover: #8ec76e;
    --secondary-hover: #f1f1f1;

    --fs-12: 12px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-32: 32px;

    --warning: rgb(255, 0, 0);
}

body {
    width: 100vw;
    height: 100vh;
    padding: 120px 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

button {
    cursor: pointer;
}

/* body {
    width: 100vw;
    height: 100vh;
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#page-1 {
    width: 100%;
    max-width: 1440px;
    display: flex;
    gap: 40px;
}

#page-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px;
}

/* LOADING ANIMATION */
#loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-content: center;
    z-index: 1000;
    background-color: rgba(0,0,0,0.25);
    backdrop-filter: blur(10px) saturate(180%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
}

.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#79b058 94%,#0000) top/9px 9px no-repeat,
           conic-gradient(#0000 30%,#79b058);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-c7wet2 1s infinite linear;
 }
 
 @keyframes spinner-c7wet2 {
    100% {
       transform: rotate(1turn);
    }
 }


/* PAYMENT PAGE */
/* user data input from */
.user-info-input-box {
    width: 100%;
    height: auto;
    max-width: 480px;
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--dark-25);
    border-radius: 20px;
}

#user-info-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#input-name, #input-number {
    font-size: var(--fs-16);
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid var(--dark-25);
}

#input-submit {
    font-size: var(--fs-16);
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 16px;
    background-color: var(--primary);
    color: var(--light-100);
    cursor: pointer;

    &:hover {
        background-color: var(--primary-hover);
        transition: ease 300ms;
    }
}

/* CONTENT */
/* contact us */
.contact-us {
    width: 100%;
    padding: 24px 32px;
    border: 1px solid var(--dark-25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#contact-us-title {
    font-size: var(--fs-20);
    font-weight: 700;
    color: var(--dark-75);
    text-align: center;
}

.contact-us-msg-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-us-btn-box {
    display: flex;
    gap: 16px;
    margin-top: 8px;
}

#contact-us-msg-btn {
    padding: 15px 20px;
    border-radius: 100px;
    background-color: var(--primary);
    border: none;
    color: var(--light-100);
    font-size: var(--fs-16);

    &:hover {
        background-color: var(--primary-hover);
        transition: ease 300ms;
    }
}

#contact-us-call-btn {
    padding: 15px 20px;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid var(--dark-25);
    color: var(--dark-75);
    font-size: var(--fs-16);

    &:hover {
        background-color: var(--secondary-hover);
        transition: ease 300ms;
    }
}


/* course info */
.course-info-box {
    width: 100%;
    padding: 24px 32px;
    border: 1px solid var(--dark-25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.course-info-title-box {
    width: 100%;
    text-align: center;
}

#course-info-title {
    font-size: var(--fs-20);
    font-weight: 700;
    color: var(--dark-75);
}

.course-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.course-info-lines {
    display: flex;
    gap: 16px;
    align-items: center;
}

.course-info-lines-icons {
    width: 24px;
    height: 24px;
}

.course-info-lines-title {
    color: var(--dark-75);
    font-weight: 500;
    font-size: var(--fs-16);
}


/* key fetures */
.key-features {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

.key-features-title-box {
    width: 100%;
    text-align: center;
}

#key-features-title {
    font-size: var(--fs-20);
    font-weight: 700;
    color: var(--dark-75);
}

.features-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.features {
    width: 120px;
    height: 120px;
    border: 1px solid var(--dark-25);
    border-radius: 10px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-title {
    text-align: center;
    font-size: var(--fs-16);
    color: var(--dark-75);
    font-weight: 500;
}

/* coupon code */
.coupon-code-box {
    width: 100%;
    padding: 24px 32px;
    border: 1px solid var(--dark-25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 16px;
}

#coupon-code-apply-msg {
    font-weight: 700;
}

.coupon-code-title-box {
    width: 100%;
    text-align: center;
}

.coupon-code-input-box {
    display: flex;
    gap: 8px;
}

#coupon-code-input {
    width: 70%;
    padding: 10px;
    border: 1px solid var(--dark-25);
    border-radius: 10px;
    font-size: var(--fs-16);
    text-transform: uppercase;
}

#coupon-code-apply-btn {
    width: 30%;
    padding: 10px;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    font-size: var(--fs-16);
    color: var(--light-100);
}

#coupon-code-title {
    font-size: var(--fs-20);
    font-weight: 700;
    color: var(--dark-75);
}

/* buy button */
.course-purchase-btn-box {
    display: flex;
    gap: 16px;
}

#course-buy-btn {
    padding: 15px 48px;
    border-radius: 10px;
    background-color: var(--primary);
    border: none;
    color: var(--light-100);
    font-size: var(--fs-16);

    &:hover {
        background-color: var(--primary-hover);
        transition: ease 300ms;
    }
}

#course-saved-btn {
    display: none;
    width: 161px;
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--dark-25);
    color: var(--dark-75);
    font-size: var(--fs-16);

    &:hover {
        background-color: var(--secondary-hover);
        transition: ease 300ms;
    }
}

/* price */
.course-price-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#course-price {
    font-size: var(--fs-32);
    font-weight: 500;
}

#course-discount-price {
    text-decoration: line-through;
    font-size: var(--fs-20);
    color: var(--dark-50);
}

#course-discount-percentage {
    font-weight: 500;
    color: var(--primary);
    font-size: var(--fs-20);
}

/* title */
.course-title-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#course-title {
    font-size: var(--fs-24);
    font-weight: 700;
    color: var(--dark-100);
}

#course-publisher {
    font-size: var(--fs-16);
    color: var(--dark-50);
}

/* main */
.course-description {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* video */
.video-box {
    position: relative;
    width: 50%;
}

#video {
    border-radius: 10px;
}

#image {
    border-radius: 10px;
    border: 1px solid var(--dark-25);
}

.course-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 80px;
}


/* HEADER */
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 16px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-25);

    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
}

#header-logo {
    width: 120px;
    height: auto;
}

#header-contact-btn {
    padding: 15px 20px;
    border-radius: 100px;
    background-color: var(--primary);
    border: none;
    color: var(--light-100);
    font-size: var(--fs-16);

    &:hover {
        background-color: var(--primary-hover);
        transition: ease 300ms;
    }
}


/* RESPONSIVENESS */
@media (width <= 1080px) {
    #page-1 {
        padding: 85px 0px;
    }
    .header {
        padding: 16px 20px;
    }
}

@media (width <= 875px) {
    #page-1 {
        flex-direction: column;
    }
    .video-box {
        width: 100%;
    }
    .course-details {
        width: 100%;
    }
}

@media (width <= 432px) {
    .features-box {
        gap: 12px;
    }

    .course-description {
        gap: 32px;
    }

    .course-details {
        gap: 24px;
    }

    .course-purchase-btn-box {
        width: 100%;
    }
    
    #course-buy-btn {
        width: 100%;
        padding: 15px 0px;
    }
    
    #course-saved-btn {
        width: 100%;
    }

    .contact-us-btn-box {
        width: 100%;
    }
    
    #contact-us-msg-btn {
        width: 100%;
        padding: 15px 0px;
    }
    
    #contact-us-call-btn {
        width: 100%;
        padding: 15px 0px;
    }

    .contact-us, .course-info-box {
        padding: 24px;
    }
}

/*--------------------------------------------------------------*/

button {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* RANDOM */
.txt-align-center {
    text-align: center;
    font-weight: 500;
}

/* upi app logos */
.upi-apps-logos-box {
    width: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.upi-apps-logos-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.upi-apps-pay-title {
    text-align: center;
}

.upi-apps-logos {
    width: 48px;
    height: auto;
}


/* QR CODE */
.qr-code-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.qr-code-timer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 8px 8px 8px 24px;
    border: 1px solid var(--dark-25);
    border-radius: 100px;
    margin-top: 16px;
}

/* #qr-code-timer-title {
    
} */

#qr-code-timer {
    width: 80px;
    display: grid;
    place-content: center;
    font-size: var(--fs-20);
    font-weight: 500;
    color: var(--light-100);
    background-color: var(--warning);
    padding: 8px 16px;
    border-radius: 50px;
}

.qr-code-div {
    width: 100%;
    padding: 48px 0px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#qr-code {
    width: 200px;
    height: auto;
    margin-top: 16px;
}

#upi-name {
    font-size: var(--fs-24);
    font-weight: 800;
}

#upi-id {
    font-size: var(--fs-16);
    font-weight: 500;
    color: var(--dark-75);
    margin-top: 8px;
}

/* PAYMENT PAGE */
/* user data input from */
.payment-ins-box {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
    padding: 10px;
    border: 1px solid var(--dark-25);
    border-radius: 10px;
}

.payment-ins-dec-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.payment-ins-title-box {
    display: flex;
    flex-direction: column;
}

#payment-ins-title {
    font-size: var(--fs-20);
    font-weight: 700;
    color: var(--dark-75);
    text-align: center;
}

.back-btn-title-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.back-btn {
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    border: 1px solid var(--dark-25);
    border-radius: 100px;
    cursor: pointer;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#payment-title {
    font-size: var(--fs-24);
    font-weight: 500;
}

.user-info-input-box {
    width: 100%;
    height: auto;
    max-width: 620px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    border: 1px solid var(--dark-25);
    border-radius: 20px;
}

#user-info-input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
}

#input-name, #input-number {
    font-size: var(--fs-16);
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid var(--dark-25);
}

#input-submit {
    font-size: var(--fs-16);
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 16px;
    background-color: var(--primary);
    color: var(--light-100);
    cursor: pointer;

    &:hover {
        background-color: var(--primary-hover);
        transition: ease 300ms;
    }
}

/* HEADER */
.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    padding: 16px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-25);

    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
}

#header-logo {
    width: 120px;
    height: auto;
}

#header-contact-btn {
    padding: 15px 20px;
    border-radius: 100px;
    background-color: var(--primary);
    border: none;
    color: var(--light-100);
    font-size: var(--fs-16);

    &:hover {
        background-color: var(--primary-hover);
        transition: ease 300ms;
    }
}


/* RESPONSIVENESS */
@media (width <= 1080px) {
    body {
        padding: 20px;
    }
    .header {
        padding: 16px 20px;
    }
}

@media (width <= 875px) {

}

@media (width <= 432px) {
    .user-info-input-box {
        height: 990px;
    }
}